:root { /* Paleta de colores */
    --color-claro: #FFD2C3;
    --color-medio-claro: #FFD6C8;
    --color-oscuro: #F3C3B2;
    --color-medio-oscuro: #FFB49B;
    --color-medio: #FFB49B;
    --color-blanco: #FFF;
    --color-beige: #f3f0f0;
    --color-fondo: #282828;
    --color-letras: #2f2f2f;
    --color-letras2: #505050;
    --color-letras-oscuro: #252525;
    --color-negro: #000;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--color-fondo);   
}
/*****************/
/**   ASIDE    **/
/***************/
aside {
    background-color: var(--color-medio-oscuro);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 15%;
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
}

aside li{
    list-style: none;
}

aside a{
    text-decoration: none;
    color: var(--color-letras-oscuro);
    font-size: 2.2vh;
}

aside a:hover{
    color: var(--color-letras);
    font-weight: bold;
}
/*****************/
/**   MAIN     **/
/***************/
main {
    margin-left: 220px; 
    padding: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center; 
}

.main-content {
    background-color: var(--color-beige); 
    border: 4px solid var(--color-medio-oscuro);
    border-radius: 10px;
    padding: 40px; 
    margin-top: 2%; 
    width: 100%; 
    height: 800px;
    text-align: center; 
}

.main-content h1 {
    font-size: 3em; 
    margin-bottom: 20px; 
    color: #333;
}

.main-content img {
    display: block;
    height: auto;
    width: 600px; 
    margin: 20px auto 0; 
    border: 2px solid var(--color-claro);
    border-radius: 10px;
}

/**** Estilo para apartado de GIT *****/
.git {
    background-color: #ffffff; 
    border: 3px solid var(--color-medio-oscuro);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 2%; 
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
}

.git h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--color-letras);
    text-align: center;
}

.git .resaltar {
    font-weight: bold;
    color: var(--color-letras2);
}

.git .resaltar2 {
    font-weight: bold;
    color: var(--color-letras-oscuro);
}
.git ul {
    list-style: none;
}

.git li {
    background-color: #f9f9f9;
    border: 2px solid var(--color-claro);
    box-shadow: 0 4px 8px var(--color-medio-claro);
    margin-bottom: 10px;
    padding: 10px;
}

.git li p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
}
/**** Estilo para apartado de Apache *****/
.sw {
    background-color: #ffffff; 
    border: 3px solid var(--color-medio-oscuro);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px; 
    margin-top: 20px; 
    width: 95%; 
    max-width: 1200px; 
    margin-left: auto;
    margin-right: auto;
}

.sw h2, .sw h3 {
    color: #333;
}

.sw ul {
    list-style: none;
    padding: 0;
}

.sw li {
    background-color: #f9f9f9;
    border: 2px solid var(--color-claro);
    box-shadow: 0 4px 8px var(--color-medio-claro);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.sw li ul {
    margin-top: 10px;
}

.sw li ul li {
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 5px;
}

fieldset {
    border: 2px solid var(--color-oscuro); 
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    position: relative;
}

legend {
    font-size: 1.5em;
    color: var(--color-letras-oscuro);
    padding: 0 10px;
    background-color: var(--color-claro); 
    top: -15px;
    left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--color-medio-claro);
    color: var(--color-letras);
}
#flecha{
    width: 2%; 
    height: auto;
    margin-right: 8px; 
    vertical-align: middle;
}
#flecha2{
    width: 1%; 
    height: auto;
    margin-right: 8px; 
    vertical-align: middle;
}

#flechaArriba{
    width: 60%;
    height: auto;
}
#marcar{
    font-style: bold    ;
}

.http-status {
    background-color: #ffffff; 
    border: 3px solid var(--color-medio-oscuro);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-top: 20px;
    width: 95%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.http-status table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.http-status th, .http-status td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.http-status th {
    background-color: var(--color-medio-claro);
    color: var(--color-letras);
}

.ejemplo {
    color: red;
    font-family: monospace;
}

#volver-arriba {
    background-color: var(--color-medio);
    width: 65px; 
    height: 65px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 5%; 
    right: 2%;
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
    text-decoration: none;
}

#volver-arriba:hover {
    background-color: var(--color-oscuro);
}
